
.header {
  position: fixed;
  width: 100%;
  z-index: 234;
  padding: 15px 0;
  background: rgba(136, 133, 133, 0.82);
  box-shadow: 0 14px 20px 10px rgba(250, 250, 250, 0.25);

  &-general {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }

    &__logo {
      width: 120%;
      height: 100%;
    }

    &__logo2 {
      padding-left: 20px;
      color: white;
      font-size: 24px;
    }

    &__nav {
      padding: 0 50px;
      color: white;
      font-size: 17px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      border: none;
      transition: .3s;
      overflow: hidden;
      &:hover {
        color: black;
        border-bottom: 1.3px solid  #22d5d5;
      }
    }

  }
}