body {
  //background: linear-gradient(179.41deg, #B7B7B7 0.07%, #3E3E3E 25.38%, #070709 31.51%, #252525 39.28%, rgba(125, 125, 125, 0.75) 99.99%, rgba(125, 125, 125, 0) 100%);

}

.home {
  padding-top: 100px;

  &-general {
    margin-bottom: 16%;

    &__titles {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    &__block {
      width: 90%;
      height: 300px;
    }

    &__img {
      border-radius: 5px;
      margin-left: 10%;
    }

    &__title {
      text-align: center;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
    }

    &__item {
      font-weight: 600;
      font-family: "Montserrat", sans-serif;

    }
  }
}